# Dependencies
pos-api/node_modules/
pos-client/node_modules/

# Environment
pos-api/.env
pos-client/.env.local
pos-client/.env.production.local

# Build output
pos-client/dist/


# Build output
Electron

# Logs
*.log
npm-debug.log*
nodemon-debug.log*

# OS
.DS_Store
Thumbs.db
